<launch>
  <arg name="set_frame_id" default="base_scan"/>
  <arg name="player_id" default="player_00"/>
  <node pkg="hls_lfcd_lds_driver" type="hlds_laser_publisher" name="turtlebot3_lds" output="screen">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="frame_id" value="$(arg set_frame_id)"/>
    <remap from="/scan" to="/$(arg player_id)/scan"/>
  </node>
  <remap from="/scan" to="/$(arg player_id)/scan"/>
</launch>

