 <launch>
    <arg name="player_id" default="default_player" />
    <arg name="band_color" default="RBY" />

    <node pkg="game_window" name="hud_ui_$(arg player_id)_$(arg band_color)" type="hud.py">
      <param name='player_id' value="$(arg player_id)"/>
      <param name='band_color' value="$(arg band_color)"/>
    </node>
 
 </launch>